<%= form_with model: user do |form| %>
  <div class="mb-3 text-start">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name,
            placeholder: "Enter your name", 
            class: "form-control" %>
  </div>

  <div class="mb-3 text-start">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email_address, 
            required: true, 
            placeholder: "Enter your email address",
            class: "form-control" %>
  </div>

  <div class="mb-3 text-start">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, 
            required: true, 
            placeholder: "Enter your password", 
            class: "form-control" %>
  </div>

  <div class="mb-3 text-start">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, 
            required: true, 
            placeholder: "Confirm your password", 
            class: "form-control" %>
  </div>

  <%= form.submit "Sign Up", class: "btn btn-warm-primary w-100 mb-3" %>
<% end %>
