<div id="<%= dom_id user_book %>">
  <p>
    <strong>Reader:</strong>
    <%= user_book.reader_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= user_book.book_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_book.status %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= user_book.rating %>
  </p>

</div>
